/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

.heebo {
  font-family: 'Heebo', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-sans-old-turkic-regular {
  font-family: "Noto Sans Old Turkic", serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Mando Code';
  src: url('fonts/MandoAfClassic-lgB6D.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.mando-font {
  font-family: 'Mando Code', sans-serif;
}

@font-face {
  font-family: 'Droid Code';
  src: url('fonts/DroidobeshDepot-gxmVE.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.droid-font {
  font-family: 'Droid Code', sans-serif;
}

@font-face {
  font-family: 'Aurek Code';
  src: url('fonts/AurebeshAfCanon-K7Ope.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.aurek-font {
  font-family: 'Aurek Code', sans-serif;
}


.playwrite-au-sa-test {
  font-family: "Playwrite AU SA", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
  

.max-heigth-600px {
  max-height: 600px;
  object-fit: contain;
}