.mt-6 {
  margin-top: 6rem;
}

.custom-scroll-bar {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  white-space: nowrap;
  scrollbar-width: thin;
  scrollbar-color: black #aaa;
}

.custom-scroll-bar-hover {
  cursor: grab;
}

.custom-scroll-bar-active {
  cursor: grabbing;
}


.max-heigth-400px {
  max-height: 400px;
  object-fit: contain;
  object-position: top;
}